
<div class="logo-section">
    <img class="logo" src="../../../../assets/images/logo.png" alt="Logo tienda" >
</div>

<aside>
    <div class="category">
        <img class="organic" src="../../../../assets/images/category.png" alt="Categoria">
    </div>
    <button class="circle">
        <i class="fas fa-pencil-alt"></i>
    </button>

    <ul>
        <li> <a href="#"><i class="fas fa-home"></i>Home</a></li>
        <li> <a href="#"><i class="fas fa-users"></i>Clientes</a></li>
        <li> <a routerLink="/ventas"  routerLinkActive="is-active"><i class="fas fa-shopping-basket"></i>Ventas</a></li>
        <li> <a href="#"><i class="fas fa-clipboard-list"></i>Compras</a></li>
        <li> <a href="#"><i class="fas fa-cash-register"></i>Caja</a></li>
        <li> <a href="#"><i class="fas fa-boxes"></i>Inventario</a></li>
        <li> <a href="#"><i class="fas fa-tag"></i>Productos</a></li>
        <li> <a href="#"><i class="fas fa-file-alt"></i>Reportes</a></li>
    </ul>

    <div class="buttons">
        <button>CERRAR CAJA</button>
        <button>SALIR</button>
    </div>
</aside>

