<div class="container">

    <div class="categories-card"><span class="title">Bebidas y refrescos</span></div>
    
    <div class="categories-card"><span class="title">Frutas</span></div>
    
    
    <div class="categories-card"><span class="title">Verduras</span></div>
    
    <div class="categories-card"><span class="title">Panaderia</span></div>
    
    <div class="categories-card"><span class="title">Carnes frias y embutidos</span></div>


    <div class="categories-card"><span class="title">Bebidas y refrescos</span></div>
    
    <div class="categories-card"><span class="title">Frutas</span></div>
    
    
    <div class="categories-card"><span class="title">Verduras</span></div>
    
    <div class="categories-card"><span class="title">Panaderia</span></div>
    
    <div class="categories-card"><span class="title">Carnes frias y embutidos</span></div>

</div>

